absl-py==1.2.0
altair==4.2.0
astunparse==1.6.3
blinker==1.5
blis==0.7.8
brotlipy==0.7.0
cachetools==5.2.0
catalogue==2.0.7
click==8.1.3
commonmark==0.9.1
cycler==0.11.0
cymem==2.0.6
dill==0.3.5.1
etils==0.7.1
flatbuffers==1.12
fonttools==4.33.3
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
grpcio==1.47.0
h5py==3.7.0
importlib-metadata==4.12.0
importlib-resources==5.9.0
joblib==1.1.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
langcodes==3.3.0
libclang==14.0.6
Markdown==3.4.1
matplotlib==3.5.2
murmurhash==1.0.7
numpy==1.23.0
oauthlib==3.2.0
opencv-contrib-python==4.6.0.66
opt-einsum==3.3.0
pandas==1.4.3
pathy==0.6.2
patsy==0.5.2
Pillow==9.1.1
preshed==3.0.6
promise==2.3
protobuf==3.19.4
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
pydeck==0.8.0b3
pyforest==1.1.0
Pympler==1.0.1
pytz-deprecation-shim==0.1.0.post0
pywin32==302
requests-oauthlib==1.3.1
rich==12.5.1
rsa==4.9
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
semver==2.13.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
spacy==3.3.1
spacy-legacy==3.0.9
spacy-loggers==1.0.2
split-folders==0.5.1
srsly==2.4.3
statsmodels==0.13.2
streamlit==1.12.2
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.10.0
termcolor==1.1.0
thinc==8.0.17
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.0
tqdm==4.64.0
typer==0.4.2
tzdata==2022.2
tzlocal==4.2
validators==0.20.0
wasabi==0.9.1
watchdog==2.1.9
webencodings==0.5.1
Werkzeug==2.2.2
wincertstore==0.2
wrapt==1.14.1
zipp==3.8.1
